.img-carrossel {
    object-fit: cover;
    object-position: 0 70%;
    height: 400px;
}
.fonte-titulo {
    font-family: 'Pacifico', cursive;
}
.cor-especial {
    color: #8b0000 !important;
}
.btn-cor-especial {
    background-color: #8b0000;
    color: #fff;
}

.borda-cor-especial {
    border-color: #8b0000;
}

.card-receita {
    max-width: 18rem;
}

.card-custom-img {
    object-fit: cover;
    height: 200px;    
}